.home_layout {
  display: flex;
  width: 90%;
  margin: 20px auto 0;
}

.white_bg.white_bg {
  background-color: #fff;
}

.f1 {
  flex: 1;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.out {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
}

.gossip {
  margin-top: 20px;
}

.gossip_container {
  display: flex;
  height: 10px;
  background-color: #fff;
}
.l, .m, .r {
  flex: 1;
  height: 100%;
  background-color: #000;
}

.gossip_container + .gossip_container {
  margin-top: 4px;
}

.card_item + .card_item {
  margin-left: 10px;
}