html, body, #root {
  height: 100%;
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.r2l {
  direction: rtl;
}

.main_content {
  width: 90%;
  margin: 0 auto;
}

.arco-menu-overflow-wrap.arco-menu-overflow-wrap {
  display: flex;
}

.ico_row.ico_row.ico_row {
  flex: 1;
}

.normal_cursor.normal_cursor.normal_cursor {
  padding: 0;
  cursor: default;
}

.arco-image-img.arco-image-img.arco-image-img {
  width: unset;
  height: 100%;
}

.arco-menu-item {
  font-size: 20px;
}

.arco-menu-item .arco-icon.arco-icon.arco-icon {
  margin: 0;
}

.arco-menu-inner.arco-menu-inner {
  display: flex;
  justify-content: space-between;
}