html, body, #root {
  height: 100%;
}

.normal_cursor {
  cursor: default;
}

.h100 {
  height: 100%;
}

.arco-image-img.arco-image-img {
  height: 100%;
}

.arco-menu-item {
  font-size: 20px;
}

.arco-menu-item .arco-icon.arco-icon.arco-icon {
  margin: 0;
}

.arco-menu-inner.arco-menu-inner {
  display: flex;
  justify-content: space-between;
}