@import url('@arco-design/web-react/dist/css/arco.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.df {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsa {
  justify-content: space-around;  
}

.jcsb {
  justify-content: space-between;
}

.acsa {
  align-content: space-around;
}

.oh {
  overflow: hidden;
}